.result {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 45rem;

  &__head {
    h1 {
      font-size: 7rem;
    }
  }

  &__message {
    text-align: center;
    width: 40ch;
  }

  &__stars {
    display: flex;
    justify-content: center;
    gap: get-size('300');
  }
}
